{% extends "base.html" %}
{% load staticfiles %}
{% block title%} Ingresar {% endblock %}

{% block breadcrumbs %}
   <!--  <li><a href="#">Inicio</a></li>
    <li class="active">Ingresar</li> -->
    <li class="active">
	    <i class="fa fa-file"></i> Inicio
	</li>
{% endblock %}

{% block pagetitle %} Página de inicio{% endblock %} 
{% block subheading %} FESA{% endblock %}

{% block content %}
	{% csrf_token %}
    <div class="row">
        <h1>Esta será la página de inicio</h1>
    </div>
	Contenido de la página de inicio
{% endblock %}

{% block addExtraScript %} 
<script type="text/javascript">
	
</script>
{% endblock %}