<!DOCTYPE html>
<html lang="es">
{% csrf_token %}
<head>
	{% load staticfiles %}
	<meta charset="UTF-8">
	<title>Ingresar</title>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/sb-admin.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/morris.css' %}" /> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/myStyle.css' %}" />
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/metisMenu.min.js' %}"></script>
    <script src="{% static 'js/raphael-min.js' %}"></script>
    <script src="{% static 'js/morris.min.js' %}"></script> 
    <script src="{% static 'js/morris-data.js' %}"></script>
    <script src="{% static 'js/jquery.flot.js' %}"></script>
    <script src="{% static 'js/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static 'js/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'js/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'js/flot-data.js' %}"></script>
    <script src="{% static 'js/validaciones_form.js' %}"></script>

    <style type="text/css">
        #notificaciones{
            position: fixed;
            right:0px; 
            top:15%; 
            width: 30%;
            z-index: 3;
        }
    </style>
</head>
<body style="background-color:#F2F2F2">
	<div id="wrapper">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="height:70px">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{%url 'home'%}" style="padding-top:10px;padding-left:40px;"><img src="{% static 'img/logo.jpg' %}" alt="logo" width="150" height="49"></a>
            </div>
        </nav>
	</div>
    <div class="row">
        <div class="col-lg-4"></div>
    	<div class="row">
        <div class="col-lg-4 col-xs-offset-2 col-sm-offset-3 col-md-offset-4" id="contenedor-log-in">
            <center>
                <div class="row">
                    <div id="log-in" >
                        <br />
                        <form action="#">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-user"></span></span>
                                <input type="text" class="form-control" placeholder="Usuario" id="user"/>
                            </div>
                            <br />
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-lock"></span></span>
                                <input type="password" class="form-control" placeholder="Contraseña" id="pass"/><br />
                            </div>
                            <br /><br />
                            <div class="form-group">
                                <button class="btn btn-primary" id="btnIngresar" style="background-color:#337AB7;"> Ingresar </button>
                            </div>
                        </form>
                    </div> 
                    <br /><br /><br /><br/><br class="visible-lg visible-md"/>
                    <b><span id="nota"> <small style="color:gray"><i class="fa fa-copyright"></i>&nbsp;Fundación Educando a un Salvadoreño &middot; FESA &middot; {% now "Y" %}</small></span></b>
                </div>
            </center>
        </div>
    </div>
        <div class="col-lg-4"></div>
    </div>
    <div id="notificaciones"></div>
</body>
</html>

<script type="text/javascript">
	$(window).load(function() {
        $("#btnIngresar").on('click',function(){
            if($("#user").val()=="" || $("#pass").val()==""){
                create_alert("<li>Usuario o Contraseña inválidos</li>","ERROR","notificaciones",true,5000);
            }else{
                jQuery.ajax({
                    url: "{%url 'autenticacion'%}",
                    type: "POST",
                    processData: false,
                    data: "csrfmiddlewaretoken="+$("[name=csrfmiddlewaretoken]").val()+"&user="+$("#user").val()+"&pass="+$("#pass").val(),
                    success: function(json){
                        if(json['error']==true){
                            create_alert("<li>Usuario o Contraseña inválidos</li>","ERROR","notificaciones",true,5000);
                            $("#pass").val('');
                        }else{
                            parent.location="{%url 'reservas'%}";
                        }
                    }
                });
            }
        });
    });	
</script>