{% extends "base.html" %}
{% load staticfiles %}
{% block title%} Guía de precios {% endblock %}

{% block breadcrumbs %}
    <li class="active">
	    <i class="fa fa-usd"></i> Precios
	</li>
{% endblock %}

{% block pagetitle %} Guía de precios{% endblock %} 
{% block subheading %}{% endblock %}
{% block addExtraStyle %} 
{% endblock %}

{% block content %}
	{% csrf_token %}
    <div class="row"> 
        <div class="col-lg-12">
            <div style="clear:both;margin-top:1%;padding: 5px;background-color:#153F64; margin-bottom:5px;">
                <label data-toggle="collapse" href="#santa_tecla" style="width:94%; color:white;">&nbsp;Centro del Deportista Integral &middot; Santa Tecla</label>
                <a href="#" onclick="$('#dt_santa_tecla').DataTable().ajax.reload();" style="float:right; color:white;">
                    <i class="fa fa-refresh"></i>
                </a>
            </div>
            <div id="santa_tecla" class="collapse out col-lg-12">
                <table id="dt_santa_tecla" class="stripe" style="width:100%;">
                    <thead>
                        <th>Cancha_id</th>
                        <th>precio_cancha_id</th>
                        <th>complejo_id</th>
                        <th>Complejo</th>
                        <th>Cancha</th>
                        <th>Días</th>
                        <th>Hora</th>
                        <th>Precio</th>
                        {%if request.session.type_user == 'R'%} 
                        <th>Acciones</th>
                        {%endif%}
                    </thead>
                    <tbody>
                    </tbody>
                </table> 
                <hr>
            </div>
            <div style="clear:both;margin-top:0%;padding: 5px;background-color:#153F64; margin-bottom:5px;">
                <label data-toggle="collapse" href="#anda" style="width:94%; color:white;">&nbsp;Complejo ANDA</label>
                <a href="#" onclick="$('#dt_anda').DataTable().ajax.reload();" style="float:right; color:white;">
                    <i class="fa fa-refresh"></i>
                </a>
            </div>
            <div id="anda" class="collapse out col-sm-12">
                <table id="dt_anda" class="stripe" style="width:100%;">
                    <thead>
                        <th>Cancha_id</th>
                        <th>precio_cancha_id</th>
                        <th>complejo_id</th>
                        <th>Complejo</th>
                        <th>Cancha</th>
                        <th>Días</th>
                        <th>Hora</th>
                        <th>Precio</th>
                        {%if request.session.type_user == 'R'%} 
                        <th>Acciones</th>
                        {%endif%}
                    </thead>
                    <tbody>
                    </tbody>
                </table> 
                <hr>
            </div>
            <div style="clear:both;margin-top:0%;padding: 5px;background-color:#153F64; margin-bottom:5px;">
                <label data-toggle="collapse" href="#guazapa" style="width:94%; color:white;">&nbsp;Centro del Deportista Integral &middot; Guazapa</label>
                <a href="#" onclick="$('#dt_guazapa').DataTable().ajax.reload();" style="float:right; color:white;">
                    <i class="fa fa-refresh"></i>
                </a>
            </div>
            <div id="guazapa" class="collapse out col-sm-12">
                <table id="dt_guazapa" class="stripe" style="width:100%;">
                    <thead>
                        <th>Cancha_id</th>
                        <th>precio_cancha_id</th>
                        <th>complejo_id</th>
                        <th>Complejo</th>
                        <th>Cancha</th>
                        <th>Días</th>
                        <th>Hora</th>
                        <th>Precio</th>
                        {%if request.session.type_user == 'R'%} 
                        <th>Acciones</th>
                        {%endif%}
                    </thead>
                    <tbody>
                    </tbody>
                </table> 
                <hr>
            </div>
            <div style="clear:both;margin-top:0%;padding: 5px;background-color:#153F64; margin-bottom:5px;">
                <label data-toggle="collapse" href="#bengoa" style="width:94%; color:white;">&nbsp;Centro del Deportista Integral &middot; Bengoa</label>
                <a href="#" onclick="$('#dt_bengoa').DataTable().ajax.reload();" style="float:right; color:white;">
                    <i class="fa fa-refresh"></i>
                </a>
            </div>
            <div id="bengoa" class="collapse out col-sm-12">
                <table id="dt_bengoa" class="stripe" style="width:100%;">
                    <thead>
                        <th>Cancha_id</th>
                        <th>precio_cancha_id</th>
                        <th>complejo_id</th>
                        <th>Complejo</th>
                        <th>Cancha</th>
                        <th>Días</th>
                        <th>Hora</th>
                        <th>Precio</th>
                        {%if request.session.type_user == 'R'%} 
                        <th>Acciones</th>
                        {%endif%}
                    </thead>
                    <tbody>
                    </tbody>
                </table> 
                <hr>
            </div>
            {%if request.session.type_user == 'R'%}
            <br><br>
            <div class="col-sm-12">
                <div id="div_errores"></div>
            </div>        
            <div class="col-sm-12" id="modificar_precio">
                <div class="col-sm-5">Complejo:</div>
                <div class="col-sm-5">Cancha:</div>
                <div class="col-sm-2"><b>Precio:</b></div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="txt_complejo" disabled/>
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="txt_cancha" disabled/>
                </div>
                <div class="col-sm-2">
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                        <input type="text" class="form-control" id="txt_precio"/>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <center>
                    <button type="button" class="btn btn-primary" style="background-color:#153F64" id="btn_guardar"><i class="fa fa-floppy-o"></i> Guardar</button>
                    <button type="button" class="btn btn-default" id="btn_cancelar"><i class="fa fa-times"></i> Cancelar</button>
                    </center>
                </div>
                <div class="col-sm-3"></div>
            </div>
            {%endif%}
        </div>
    </div>
{% endblock %}

{% block addExtraScript %} 
<script type="text/javascript">
   $(window).load(function() {
        var precio_cancha_id=-1;
        var dt_santa_tecla = $('#dt_santa_tecla').DataTable( {
            "ajax": {
                "url": "{%url 'dt_precios' %}",
                "type": "POST",
                "data":  function( d ) {
                    d.csrfmiddlewaretoken = $("[name=csrfmiddlewaretoken]").val(),
                    d.complejo_id = 3
                },
            },
            "pageLength": 10,
            "ordering": true,
            "lengthChange": true,
            "searching": true,
            "paging": true,
            "order":[[4,"asc"],[5,"asc"]],
            "columnDefs":[
                {"targets":[0,1,2,3],"visible":false,"searchable":false},
                {"targets":4, "width":"35%"},
                {"targets":5, "width":"30%"},
                {"targets":6, "width":"30%","searchable":false},
                {"targets":7, "width":"30%","searchable":false},
                {%if request.session.type_user == 'R'%}
                {"targets": 8 ,"width": "10%",  "defaultContent": "<center><button name=\"edit_precio\" class=\"btn btn-xs btn-info\"><i class=\"fa fa-pencil bigger-120\"></i></button> </center>" },
                {%endif%}
            ],
            "language": {
                "lengthMenu": "Mostrando _MENU_ filas por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Mostrando página 0 de 0",
                "infoFiltered": "(filtered from _MAX_ total records)",
                "oPaginate": {
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                },
            }
        });

        var dt_anda = $('#dt_anda').DataTable( {
            "ajax": {
                "url": "{%url 'dt_precios' %}",
                "type": "POST",
                "data":  function( d ) {
                    d.csrfmiddlewaretoken = $("[name=csrfmiddlewaretoken]").val(),
                    d.complejo_id = 4
                },
            },
            "pageLength": 10,
            "ordering": true,
            "lengthChange": true,
            "searching": true,
            "paging": true,
            "order":[[4,"asc"],[5,"asc"]],
            "columnDefs":[
                {"targets":[0,1,2,3],"visible":false,"searchable":false},
                {"targets":4, "width":"35%"},
                {"targets":5, "width":"30%"},
                {"targets":6, "width":"30%","searchable":false},
                {"targets":7, "width":"30%","searchable":false},
                {%if request.session.type_user == 'R'%}
                {"targets": 8 ,"width": "10%",  "defaultContent": "<center><button name=\"edit_precio\" class=\"btn btn-xs btn-info\"><i class=\"fa fa-pencil bigger-120\"></i></button> </center>" },
                {%endif%}
            ],
            "language": {
                "lengthMenu": "Mostrando _MENU_ filas por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Mostrando página 0 de 0",
                "infoFiltered": "(filtered from _MAX_ total records)",
                "oPaginate": {
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                },
            }
        });

        var dt_guazapa = $('#dt_guazapa').DataTable( {
            "ajax": {
                "url": "{%url 'dt_precios' %}",
                "type": "POST",
                "data":  function( d ) {
                    d.csrfmiddlewaretoken = $("[name=csrfmiddlewaretoken]").val(),
                    d.complejo_id = 2
                },
            },
            "pageLength": 10,
            "ordering": true,
            "lengthChange": true,
            "searching": true,
            "paging": true,
            "order":[[4,"asc"],[5,"asc"]],
            "columnDefs":[
                {"targets":[0,1,2,3],"visible":false,"searchable":false},
                {"targets":4, "width":"35%"},
                {"targets":5, "width":"30%"},
                {"targets":6, "width":"30%","searchable":false},
                {"targets":7, "width":"30%","searchable":false},
                {%if request.session.type_user == 'R'%}
                {"targets": 8 ,"width": "10%",  "defaultContent": "<center><button name=\"edit_precio\" class=\"btn btn-xs btn-info\"><i class=\"fa fa-pencil bigger-120\"></i></button> </center>" },
                {%endif%}
            ],
            "language": {
                "lengthMenu": "Mostrando _MENU_ filas por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Mostrando página 0 de 0",
                "infoFiltered": "(filtered from _MAX_ total records)",
                "oPaginate": {
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                },
            }
        });

        var dt_bengoa = $('#dt_bengoa').DataTable( {
            "ajax": {
                "url": "{%url 'dt_precios' %}",
                "type": "POST",
                "data":  function( d ) {
                    d.csrfmiddlewaretoken = $("[name=csrfmiddlewaretoken]").val(),
                    d.complejo_id = 1
                },
            },
            "pageLength": 10,
            "ordering": true,
            "lengthChange": true,
            "searching": true,
            "paging": true,
            "order":[[4,"asc"],[5,"asc"]],
            "columnDefs":[
                {"targets":[0,1,2,3],"visible":false,"searchable":false},
                {"targets":4, "width":"35%"},
                {"targets":5, "width":"30%"},
                {"targets":6, "width":"30%","searchable":false},
                {"targets":7, "width":"30%","searchable":false},
                {%if request.session.type_user == 'R'%}
                {"targets": 8 ,"width": "10%",  "defaultContent": "<center><button name=\"edit_precio\" class=\"btn btn-xs btn-info\"><i class=\"fa fa-pencil bigger-120\"></i></button> </center>" },
                {%endif%}
            ],
            "language": {
                "lengthMenu": "Mostrando _MENU_ filas por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Mostrando página 0 de 0",
                "infoFiltered": "(filtered from _MAX_ total records)",
                "oPaginate": {
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                },
            }
        });

        $(document).on('click', "[name=edit_precio]",function(){
            $('#dt_santa_tecla').DataTable().$('tr.selected').removeClass('selected');
            $('#dt_anda').DataTable().$('tr.selected').removeClass('selected');
            $('#dt_guazapa').DataTable().$('tr.selected').removeClass('selected');
            $('#dt_bengoa').DataTable().$('tr.selected').removeClass('selected');
            $(this).parent().parent().parent().addClass('selected');
            var data = $('#dt_santa_tecla').DataTable().rows('.selected').data();
            if (data.length == 0){
                data = $('#dt_anda').DataTable().rows('.selected').data();
                if (data.length == 0){
                    data = $('#dt_guazapa').DataTable().rows('.selected').data();
                    if (data.length == 0){
                        data = $('#dt_bengoa').DataTable().rows('.selected').data();
                    }
                }
            }
            $('#txt_complejo').val(data[0][3]);
            $('#txt_cancha').val(data[0][4]);
            $('#txt_precio').val(String(data[0][7]).replace('$',''));
            precio_cancha_id=data[0][1];
            //SCROLL 
            $('html,body').animate({
                scrollTop: $("#modificar_precio").offset().top
            }, 1200);
        });

        $('#btn_cancelar').on('click', function(){
            $('#dt_santa_tecla').DataTable().$('tr.selected').removeClass('selected');
            $('#dt_anda').DataTable().$('tr.selected').removeClass('selected');
            $('#dt_guazapa').DataTable().$('tr.selected').removeClass('selected');
            $('#dt_bengoa').DataTable().$('tr.selected').removeClass('selected');
            $('#txt_complejo').val("");
            $('#txt_cancha').val("");
            $('#txt_precio').val("");
            precio_cancha_id=-1;
        });

        $('#btn_guardar').on('click', function(){
            if(precio_cancha_id!=-1){
                if($('#txt_precio').val()!=""){
                    jQuery.ajax({
                        url:"{%url 'guardar_precio' %}",
                        type:"POST",
                        processData:false,  
                        data: "csrfmiddlewaretoken="+$("[name=csrfmiddlewaretoken]").val()+"&precio_cancha_id="+precio_cancha_id+"&precio="+$('#txt_precio').val(),
                        success:function(json){
                            dt_anda.ajax.reload();
                            dt_santa_tecla.ajax.reload();
                            dt_bengoa.ajax.reload();
                            dt_guazapa.ajax.reload();
                            create_alert("<li>Precio actualizado con éxito</li>","EXITO","notificaciones",true,5000);
                        }
                    }); 

                    $('#txt_complejo').val("");
                    $('#txt_cancha').val("");
                    $('#txt_precio').val("");
                    precio_cancha_id=-1;
                }else{
                   create_alert("<li><b>Precio:</b>Ingrese un precio válido</li>","ERROR","div_errores",false,0); 
                }
            }else{
                create_alert("<li>Seleccione una cancha para actualizar su precio</li>","ERROR","div_errores",false,0);
            }
        });
    });

</script>
{% endblock %}