{% extends "base.html" %}
{% load staticfiles %}
{% block title%} Registro de complejo {% endblock %}

{% block breadcrumbs %}
   <!--  <li><a href="#">Inicio</a></li>
    <li class="active">Ingresar</li> -->
    <li class="active">
	    <i class="fa fa-file"></i> Registro
	</li>
{% endblock %}

{% block pagetitle %} Complejos{% endblock %} 
{% block subheading %}{% endblock %}


{% block content %}
	{% csrf_token %}
    {% load widget_tweaks %}
    <div class="row">
        <div id="div_errores"></div>
    </div>
    <br>
        <div class="row"> 
            <div class="col-sm-12">
               <div style="clear:both;margin-top:1%;padding: 5px;background-color:#337AB7">
                    <label data-toggle="collapse" href="#complejo_toggle" style="width:94%; color:white;">&nbsp;<i class="fa fa-flag"></i> &nbsp;Registro de complejos</label>
                    <a href="#" onclick="$('#dt_complejo').DataTable().ajax.reload();"style="float:right; color:white;">
                        <i class="fa fa-refresh"></i>
                    </a>
                </div>
                 <div id="complejo_toggle" class="collapse in col-sm-12">
                        <table id="dt_complejo" class="stripe">
                            <thead>
                                <th>Id complejo</th>
                                <th>Nombre</th>
                                <th>Acciones</th>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                </div>
                    
            </div>
        </div>
    <div class="panel panel-default">
        <div class="panel-heading">
              <h3 class="panel-title"><i class="fa fa-flag fa-fw"></i> Complejos</h3>
        </div>
         <div class="panel-body">
            <form id="form_complejo">
            <input type="hidden" value="" name="id_complejo">
            <div class="row"> 
            <div class="col-sm-12">
                <div class="col-sm-1">
                    <strong>Nombre</strong>
                </div>
                <div class="col-sm-10">
                    {{form_complejo.nombre| add_class:'form-control'}}
                </div>
            </div>
            </div>
            <br>
            <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-1">
                    Dirección
                </div>
                <div class="col-sm-10">
                     {% render_field form_complejo.direccion class+="form-control" resize="none" rows="2" placeholder="Dirección" %}
                </div>
            </div>
            </div> 
            </form>
            <br>
            <div class="row">
                <div class="col-sm-12 text-center">
                     <center>
                        <button type="button" id="guardar_complejo" class="btn btn-primary" style="background-color:#337AB7"><i class="fa fa-floppy-o"></i> Guardar</button>
                        <button type="button" id="guardar_cambios_complejo" style="display:none;background-color:#337AB7" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Guardar Cambios</button>
                        <button type="button" id="cancelar_complejo" style="display:none" class="btn btn-default"><i class="fa fa-times"></i> Cancelar</button>
                    </center>
                </div>
               </div>
        </div>
    </div>

    <br>

    <div class="panel panel-default">
        <div class="panel-heading">
              <h3 class="panel-title"><i class="fa fa-calendar fa-fw"></i> Horario de complejo</h3>
        </div>
         <div class="panel-body">
            <form id="form_horario">
            <input type="hidden" value="" name="id_complejo">
            <div class="well">
           <div class="row">
                <div class="col-sm-12">
                   
                     <strong>Seleccione los d&iacute;as:</strong>
                    <div class="panel panel-info">
                      <div class="panel-heading" style="color:black;">
                        <center>
                        {% for checkbox in form_horario.dia %}                 
                            {{ checkbox.tag }} {{ checkbox.choice_label }} &nbsp;&nbsp;&nbsp;
                        {% endfor %}
                        </center>
                      </div>
                    </div>
                   
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-3">
                        <strong>Seleccione el rango de horas:</strong>
                    </div>
                    <div clas="col-sm-4">
                    <p id="timeOnlyExample">
                      {{form_horario.hora_apertura|add_class:"time start ui-timepicker-input"}}
                      &nbsp;a&nbsp;
                      {{form_horario.hora_cierre|add_class:"time end ui-timepicker-input"}}
                    </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <center>
                        <button type="button" id="agregar_horario" class="btn btn-success">Añadir horario</button> 
                    </center>
                </div>
            </div>
             </div> <!--Well-->
             <div class="row">
             <div class="col-sm-3"></div>
             <div class="col-sm-6">
                 <table id="tabla_horario_complejo" class="stripe">
                     <thead>
                         <th>Id complejo</th>
                         <th>Abreviatura</th>
                         <th>Día</th>
                         <th>Hora de apertura</th>
                         <th>Hora de salida </th>
                         <th>Acciones</th>
                     </thead>
                     <tbody>
                         
                     </tbody>
                 </table>
            </div>
            <div class="col-sm-3"></div>
        </div> 
        </form>
            <br>
            <div class="row">
                <div class="col-sm-12 text-center">
                     <center>
                        <button type="button" id="guardar_horario" class="btn btn-primary" style="background-color:#337AB7"><i class="fa fa-floppy-o"></i> Guardar Horario</button>
                    </center>
                </div>
            </div>
        </div>
    </div>


<!-- REGISTRO DE CANCHAS-->
<div id="modal_cancha" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Registro de cancha</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">
                <div id="errores_cancha"></div>
            </div>
        </div>
        <form id="form_cancha">
        <div class="row">
            <div class="col-sm-12">
                {{form_cancha.complejo}}
                <input type="hidden" name="cancha">
                <div class="col-sm-2">
                    <strong>Nombre</strong>
                </div>
                <div class="col-sm-5">
                    {{form_cancha.nombre|add_class:"form-control"}}
                </div>
                <div class="col-sm-2">
                    <strong>Horas posibles</strong>
                </div>
                <div class="col-sm-3">
                    {{form_cancha.horas_posibles|add_class:"form-control"}}
                </div>
            </div>
        </div>
        </form>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <center>
                    <button type="button" id="guardar_cancha" class="btn btn-primary">Guardar</button>
                    <button type="button" style="display:none" id="guardar_cambios_cancha" class="btn btn-primary">Guardar Cambos</button>
                    <button type="button" style="display:none" id="cancelar_cancha" class="btn btn-default">Cancelar</button>
                </center>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                    <table id="dt_cancha">
                        <thead>
                            <th>Id cancha</th>
                            <th>Id complejo</th>
                            <th>Nombre cancha</th>
                            <th>Acciones</th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
               
            </div>
        </div>
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>-->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--FIN DE REGISTRO CANCHA-->
{% endblock %}

{% block addExtraScript %} 
<script type="text/javascript">
   $(window).load(function() {

        //$('#id_hora_apertura').timepicker();
        //$('#id_hora_cierre').timepicker();
        $('#timeOnlyExample .time').timepicker({
           // 'showDuration': true,
            'timeFormat': 'G:i'
        });

        var timeOnlyExampleEl = document.getElementById('timeOnlyExample');
        var timeOnlyDatepair = new Datepair(timeOnlyExampleEl);
        
         var dt_complejo = $('#dt_complejo').DataTable( {
            "ajax": {
                "url": "{%url 'dt_complejo' %}",
                "type": "POST",
                "data":  function( d ) {
                    d.csrfmiddlewaretoken = $("[name=csrfmiddlewaretoken]").val()
                },
            },
            "pageLength": 5,
            "ordering": true,
            "lengthChange": true,
            "searching": true,
            "paging": true,
            "columnDefs":[
                {"targets":[0],"visible":false,"searchable":false},
                {"targets":1, "width":"85%"},
                {"targets": 2 ,"width": "15%",  "defaultContent": "<center><button name=\"edit_complejo\" class=\"btn btn-xs btn-info\"><i class=\"fa fa-pencil bigger-120\"></i></button> <button type='button' name=\"agregar_canchas\" class=\"btn btn-xs btn-success\"><i class=\"fa fa-futbol-o bigger-120\"></i></button></center>" },
            ],
            "language": {
                "lengthMenu": "Mostrando _MENU_ filas por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Mostrando página 0 de 0",
                "infoFiltered": "(filtered from _MAX_ total records)",
                "oPaginate": {
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                },
            }
        });

           var dt_horario_complejo = $('#tabla_horario_complejo').DataTable( {
            "ajax": {
                "url": "{%url 'dt_horario' %}",
                "type": "POST",
                "data":  function( d ) {
                    d.csrfmiddlewaretoken = $("[name=csrfmiddlewaretoken]").val(),
                    d.complejo_id=$("[name=id_complejo]").val()
                },
            },
            "pageLength": 7,
            "ordering": false,
            "lengthChange": false,
            "searching": false,
            "paging": true,
            "columnDefs":[
                {"targets":[0,1],"visible":false,"searchable":false},
                {"targets":2, "width":"30%"},
                {"targets":3, "width":"20%"},
                {"targets":4, "width":"20%"},
                {"targets": 5 ,"width":"10%",  "defaultContent": "<center><button name=\"eliminar_reg\" type='button' class=\"btn btn-xs btn-danger\"><i class=\"fa fa-trash bigger-120\"></i></button></center>" },
            ],
            "language": {
                "lengthMenu": "Mostrando _MENU_ filas por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Mostrando página 0 de 0",
                "infoFiltered": "(filtered from _MAX_ total records)",
                "oPaginate": {
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                },
            }
        });

        //dt_cancha

        var dt_cancha = $('#dt_cancha').DataTable( {
            "ajax": {
                "url": "{%url 'dt_cancha' %}",
                "type": "POST",
                "data":  function( d ) {
                    d.csrfmiddlewaretoken = $("[name=csrfmiddlewaretoken]").val(),
                    d.complejo_id=$("#modal_cancha").find("#id_complejo").val()
                },
            },
            "pageLength": 5,
            "ordering": false,
            "lengthChange": false,
            "searching": false,
            "paging": true,
            "columnDefs":[
                {"targets":[0,1],"visible":false,"searchable":false},
                {"targets":2, "width":"90%"},
                {"targets": 3 ,"width":"10%",  "defaultContent": "<center><button name=\"edit_cancha\" class=\"btn btn-xs btn-info\"><i class=\"fa fa-pencil bigger-120\"></i></button> <button name=\"eliminar_cancha\" type='button' class=\"btn btn-xs btn-danger\"><i class=\"fa fa-trash bigger-120\"></i></button></center>" },
            ],
            "language": {
                "lengthMenu": "Mostrando _MENU_ filas por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Mostrando página 0 de 0",
                "infoFiltered": "(filtered from _MAX_ total records)",
                "oPaginate": {
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                },
            }
        });




         deshabilitar_horario();

         $("#id_direccion").maxlength({
            events: ['blur'], // Array of events to be triggered
            maxCharacters: 250, // Characters limit
            status: true, // True to show status indicator below the element
            statusClass: "status", // The class on the status div
            statusText: "carácteres faltantes", // The status text
            notificationClass: "notification",  // Will be added when maxlength is reached
            showAlert: false, // True to show a regular alert message
            alertText: "Ha excedido el límite de carácteres.", // Text in alert message
            slider: true // True Use counter slider
          });


         $("#id_nombre").maxlength({
            events: ['blur'], // Array of events to be triggered
            maxCharacters: 100, // Characters limit
            status: false, // True to show status indicator below the element
            statusClass: "status", // The class on the status div
            statusText: "carácteres faltantes", // The status text
            notificationClass: "notification",  // Will be added when maxlength is reached
            showAlert: false, // True to show a regular alert message
            alertText: "Ha excedido el límite de carácteres.", // Text in alert message
            slider: true // True Use counter slider
          });

          $("#modal_cancha").find("#id_nombre").maxlength({
            events: ['blur'], // Array of events to be triggered
            maxCharacters: 100, // Characters limit
            status: false, // True to show status indicator below the element
            statusClass: "status", // The class on the status div
            statusText: "carácteres faltantes", // The status text
            notificationClass: "notification",  // Will be added when maxlength is reached
            showAlert: false, // True to show a regular alert message
            alertText: "Ha excedido el límite de carácteres.", // Text in alert message
            slider: true // True Use counter slider
          });

          $("#guardar_complejo").on('click',function(){
        //alert("entro");
         jQuery.ajax({
            url: "{%url 'guardar_complejo'%}",
            type: "POST",
            processData: false,
            data: "csrfmiddlewaretoken="+$("[name=csrfmiddlewaretoken]").val()+"&"+$(form_complejo).serialize(),
            success: function(json){
                if(json['errors']==null){
                    //console.log('if');
                    $("#div_errores").html('');
                    create_alert("<li>Complejo ingresado con éxito </li>","EXITO","notificaciones",true,5000);
                    $("#dt_complejo").DataTable().ajax.reload();
                    deshabilitar_horario();
                }else{
                    show_errors(json, 'div_errores');
                    //create_alert("<li>Usuario o Contraseña inválidos</li>","ERROR","notificaciones",true,5000);
                }
            }
        });
   });

            $("#guardar_cambios_complejo").on('click',function(){
                //alert("entro");
                 jQuery.ajax({
                    url: "{%url 'guardar_cambios_complejo'%}",
                    type: "POST",
                    processData: false,
                    data: "csrfmiddlewaretoken="+$("[name=csrfmiddlewaretoken]").val()+"&"+$(form_complejo).serialize(),
                    success: function(json){
                        if(json['errors']==null){
                            //console.log('if');
                            $("#div_errores").html('');
                            create_alert("<li>Complejo actualizado con éxito </li>","EXITO","notificaciones",true,5000);
                            $("#dt_complejo").DataTable().ajax.reload();
                            $("#cancelar_complejo").click();
                            deshabilitar_horario();
                        }else{
                            show_errors(json, 'div_errores');
                            //create_alert("<li>Usuario o Contraseña inválidos</li>","ERROR","notificaciones",true,5000);
                        }
                    }
                });
           });

            $("#agregar_horario").on('click',function(){
                var ingresar_row= true;
                if($("#id_hora_apertura").val()!="" && $("#id_hora_cierre").val()!=""){
                    $("[id^='id_dia']:checked").each(function(){
                        //console.log($(this).val());
                        ingresar_row=true;
                        valor_checkbox= $(this).val();
                        $("#tabla_horario_complejo").find('tbody').find('tr').each(function(){
                           data_row=$("#tabla_horario_complejo").DataTable().row($(this)).data();
                           if(data_row!=undefined){
                                if(valor_checkbox==data_row[1]) ingresar_row=false;
                           }
                        });
                        if(ingresar_row){
                            $("#tabla_horario_complejo").DataTable().row.add( [
                                0,
                                valor_checkbox,
                                obtener_dia(valor_checkbox),
                                $("#id_hora_apertura").val(),
                                $("#id_hora_cierre").val()

                            ] ).draw( false );
                        } 
                        
                       
                    });
                }else{
                    create_alert("<li>Las horas de apertura y cierre son campos requeridos</li>","ERROR","notificaciones",true,5000);
                }
                    
            });

            $("#guardar_horario").on('click',function(){
                cadena="";
                 $("#tabla_horario_complejo").find('tbody').find('tr').each(function(){
                   data_row=$("#tabla_horario_complejo").DataTable().row($(this)).data();
                   if(data_row!=undefined){
                        cadena+=data_row[1]+","+data_row[3]+","+data_row[4]+"||";
                        //console.log(cadena);
                    }
                });

                jQuery.ajax({
                    url: "{%url 'guardar_horario'%}",
                    type: "POST",
                    processData: false,
                    data: "csrfmiddlewaretoken="+$("[name=csrfmiddlewaretoken]").val()+"&cadena="+cadena+"&complejo_id="+$("[name=id_complejo]").val(),
                    success: function(json){
                        create_alert("<li>Horario guardado con éxito</li>","EXITO","notificaciones",true,5000);
                    }
                });
            });

             $("#cancelar_complejo").on('click',function(){
                
                $("[name=id_complejo]").val("");
                $("#id_nombre").val("");
                $("#id_direccion").val("");
                $('#dt_complejo').DataTable().$('tr.selected').removeClass('selected');
               $("#guardar_cambios_complejo").hide();
               $("#cancelar_complejo").hide();
               $("#guardar_complejo").show();
               deshabilitar_horario();
            });

             $("#dt_complejo").on('click', "[name=edit_complejo]",function(){
                   // alert("click");
                    $('#dt_complejo').DataTable().$('tr.selected').removeClass('selected');
                    $(this).parent().parent().parent().addClass('selected');
                    var data = $('#dt_complejo').DataTable().rows('.selected').data();
                    jQuery.ajax({
                        url: "{%url 'cargar_complejo'%}",
                        type: "POST",
                        processData: false,
                        data: "csrfmiddlewaretoken="+$("[name=csrfmiddlewaretoken]").val()+"&id_complejo="+data[0][0].toString(),
                        success: function(json){
                            $("[name=id_complejo]").val(json['complejo'][0]);
                            $("#id_nombre").val(json['complejo'][1]);
                            $("#id_direccion").val(json['complejo'][2]);
                            $("#guardar_cambios_complejo").show();
                            $("#cancelar_complejo").show();
                            $("#guardar_complejo").hide();
                            habilitar_horario();
                        }
                    });
                   /* console.log(data);
                    $('#txt_complejo').val(data[0][1]);
                    $('#txt_cancha').val(data[0][2]);
                    $('#txt_precio').val(String(data[0][3]).replace('$',''));
                    id_cancha=data[0][0];*/
                });

            function obtener_dia(valor){
                if(valor=='L') return 'Lunes';
                if(valor== 'M') return 'Martes';
                if(valor== 'X') return 'Miércoles';
                if(valor=='J') return 'Jueves';
                if(valor== 'V') return 'Viernes';
                if(valor == 'S') return 'Sábado';
                if(valor=='D') return 'Domingo';
            }

            function habilitar_horario(){
                $("#tabla_horario_complejo").DataTable().ajax.reload();
                 $("[id^='id_dia']").removeAttr('disabled');
                 $("#id_hora_cierre").removeAttr('disabled');
                 $("#id_hora_apertura").removeAttr('disabled');
                 $("#agregar_horario").removeAttr('disabled');
                 $("#guardar_horario").removeAttr('disabled');
            }

            function deshabilitar_horario(){  
                 $("[id^='id_dia']").removeAttr('checked');
                 $("[id^='id_dia']").attr('disabled','disabled');
                 $("[id^='id_hora']").val("");
                 $("#id_hora_cierre").attr('disabled','disabled');
                 $("#id_hora_apertura").attr('disabled','disabled');
                 $("#agregar_horario").attr('disabled','disabled');
                 $("#guardar_horario").attr('disabled','disabled');
                 $("#tabla_horario_complejo").DataTable().ajax.reload();
            }

            $("#tabla_horario_complejo").on('click','[name=eliminar_reg]',function(){
                var row = $(this).parent().parent().parent();
                $("#tabla_horario_complejo").DataTable().row(row).remove().draw( false );
            });

            $("#dt_complejo").on('click','[name=agregar_canchas]',function(){
                 var row = $(this).parent().parent().parent();
                 //console.log(row);
                // row.css('background-color','blue');
                data_row=$("#dt_complejo").DataTable().row(row).data();
                //console.log(data_row);
               if(data_row!=undefined){
                    $("#modal_cancha").find("#id_complejo").val(data_row[0]);
                    $("#dt_cancha").DataTable().ajax.reload();
                    $("#modal_cancha").modal('show');
                    //console.log(cadena);
                }
               
            });

            $("#guardar_cancha").on('click',function(){
                jQuery.ajax({
                    url: "{%url 'guardar_cancha'%}",
                    type: "POST",
                    processData: false,
                    data: "csrfmiddlewaretoken="+$("[name=csrfmiddlewaretoken]").val()+"&"+$(form_cancha).serialize(),
                    success: function(json){
                        if(json['errors']==null){
                            //console.log('if');
                            $("#errores_cancha").html('');
                            create_alert("<li>Cancha ingresada con éxito </li>","EXITO","errores_cancha",true,5000);
                            $("#dt_cancha").DataTable().ajax.reload();
                            $("#cancelar_cancha").click();
                        }else{
                            show_errors(json, 'errores_cancha');
                            //create_alert("<li>Usuario o Contraseña inválidos</li>","ERROR","notificaciones",true,5000);
                        }
                    }
                });
           });

         $("#cancelar_cancha").on('click',function(){
            $("#modal_cancha").find("#id_nombre").val("");
            $("#modal_cancha").find("#id_horas_posibles").val("");
            $("#dt_cancha").DataTable().ajax.reload();
            $("#cancelar_cancha").hide();
            $("#guardar_cambios_cancha").hide();
            $("#guardar_cancha").show();
         });

         $("#guardar_cambios_cancha").on('click',function(){
             jQuery.ajax({
                    url: "{%url 'guardar_cambios_cancha'%}",
                    type: "POST",
                    processData: false,
                    data: "csrfmiddlewaretoken="+$("[name=csrfmiddlewaretoken]").val()+"&"+$(form_cancha).serialize(),
                    success: function(json){
                        if(json['errors']==null){
                            //console.log('if');
                            $("#errores_cancha").html('');
                            create_alert("<li>Cancha actualizada con éxito </li>","EXITO","errores_cancha",true,5000);
                            $("#dt_cancha").DataTable().ajax.reload();
                            $("#cancelar_cancha").click();
                        }else{
                            show_errors(json, 'errores_cancha');
                            //create_alert("<li>Usuario o Contraseña inválidos</li>","ERROR","notificaciones",true,5000);
                        }
                    }
                });
           });

         $("#dt_cancha").on('click','[name=edit_cancha]',function(){
            $('#dt_cancha').DataTable().$('tr.selected').removeClass('selected');
            $(this).parent().parent().parent().addClass('selected');
            var data = $('#dt_cancha').DataTable().rows('.selected').data();
            console.log(data[0]);
            jQuery.ajax({
                url: "{%url 'cargar_cancha'%}",
                type: "POST",
                processData: false,
                data: "csrfmiddlewaretoken="+$("[name=csrfmiddlewaretoken]").val()+"&id_cancha="+data[0][0].toString(),
                success: function(json){
                    $("[name=cancha]").val(json['cancha'][0]);
                    $("#modal_cancha").find("#id_nombre").val(json['cancha'][1]);
                    $("#id_horas_posibles").val(json['cancha'][2]);
                    $("#guardar_cambios_cancha").show();
                    $("#cancelar_cancha").show();
                    $("#guardar_cancha").hide();
                }
            });
         });

         $("#dt_cancha").on('click','[name=eliminar_cancha]',function(){
            console.log("eliminar_cancha");
            $(this).parent().parent().parent().addClass('selected');
            var data = $('#dt_cancha').DataTable().rows('.selected').data();
            jQuery.ajax({
                url: "{%url 'eliminar_cancha'%}",
                type: "POST",
                processData: false,
                data: "csrfmiddlewaretoken="+$("[name=csrfmiddlewaretoken]").val()+"&id_cancha="+data[0][0].toString(),
                success: function(json){
                    $("#cancelar_cancha").click();
                    create_alert("<li>Cancha eliminada con éxito </li>","EXITO","errores_cancha",true,5000);
                }
            });
            //console.log("salir");
        });

    });

  

</script>
{% endblock %}