{% extends "base.html" %}
{% load staticfiles %}
{% block title%} Reportes {% endblock %}

{% block breadcrumbs %}
   <!--  <li><a href="#">Inicio</a></li>
    <li class="active">Ingresar</li> -->
    <li>
	    <i class="fa fa-file"></i> Inicio
	</li>
    <li class="active">
        <i class="fa fa-file-o"></i> Reportes
    </li>
{% endblock %}

{% block pagetitle %}Reportes{% endblock %} 

{% block addExtraStyle %}
 <style type="text/css">

    .selected{
        background-color: #cdfcff;
    }
        
    </style>
{%endblock%}
{% block content %}
    {% load staticfiles %}
    {% csrf_token %}
    {% load widget_tweaks %}
    <hr>
        <div id="rootwizard">
        <ul class="nav nav-pills">
            <li class="active"><a href="#tab1" data-toggle="tab">Resumen complejo</a></li>
            <li><a href="#tab2" data-toggle="tab">Reporte utilidad</a></li>
            <li><a href="#tab3" data-toggle="tab">Clientes</a></li>
            <li><a href="#tab4" data-toggle="tab">Ocupación de canchas</a></li>
        </ul>
        <hr>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Filtrar por...</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-2">
                                            <strong>Fecha de reserva</strong>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-1">Desde: </div>
                                        <div class="col-sm-3">
                                            <input type="text" id="fecha_desde">
                                        </div>
                                        <div class="col-sm-1">Hasta: </div>
                                        <div class="col-sm-3">
                                            <input type="text" id="fecha_hasta">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-2">
                                            <strong>Seleccione un complejo</strong>
                                        </div>
                                        <div class="col-sm-3">
                                            <select class="form-control" id="cmb_complejo">
                                                {{cmb_complejo|safe}}
                                            </select>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <center>
                                                <button type="button" id="filtrar_repo_reserva" class="btn btn-success"><i class="fa fa-search"></i>&nbsp;&nbsp; Filtrar</button>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div style="clear:both;margin-top:1%;padding: 5px;background-color:#337AB7">
                        <label data-toggle="collapse" href="#reserv_toggle" style="width:94%; color:white;">&nbsp;<i class="fa fa-flag"></i> &nbsp;Resumen encargado de complejo</label>
                        <a href="#" onclick="$('#dt_repo_reserva').DataTable().ajax.reload();"style="float:right; color:white;">
                            <i class="fa fa-refresh"></i>
                        </a>
                    </div>
                    <hr>
                     <div id="reserv_toggle" class="collapse in col-sm-12">
                            <table id="dt_repo_reserva" class="stripe">
                                <thead>
                                    <th>Id complejo</th>
                                    <th>Id cancha</th>
                                    <th>Id reserva de cancha </th>
                                    <th>Id reserva</th>
                                    <th>Id de forma de pago</th>
                                    <th>Fecha de reserva</th>
                                    <th>Cliente</th>
                                    <th>Nombre del evento</th>
                                    <th>Estado de la reserva</th>
                                    <th>Forma de pago</th>
                                    <th>Tipo de alquiler</th>
                                    <th>Forma de facturación</th>
                                    <th>Precio</th>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                    </div>

            </div>
<!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
            <div class="tab-pane" id="tab2">
                <div class="row">
                    <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Filtrar por...</h3>
                            </div>
                            <div class="panel-body" id="panel_remesa">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-2">
                                                <strong>Fecha de reserva</strong>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-1">Desde: </div>
                                            <div class="col-sm-3">
                                                <input type="text" id="rem_fecha_desde">
                                            </div>
                                            <div class="col-sm-1">Hasta: </div>
                                            <div class="col-sm-3">
                                                <input type="text" id="rem_fecha_hasta">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-2">
                                                <strong>Seleccione un usuario</strong>
                                            </div>
                                            <div class="col-sm-3">
                                                <select class="form-control" id="cmb_usuario">
                                                    {{cmb_usuario|safe}}
                                                </select>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <center>
                                                    <button type="button" id="filtrar_repo_remesa" class="btn btn-success"><i class="fa fa-search"></i>&nbsp;&nbsp; Filtrar</button>
                                                </center>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <hr>
                <div class="row">
                    <div style="clear:both;margin-top:1%;padding: 5px;background-color:#337AB7">
                        <label data-toggle="collapse" href="#remesa_toggle" style="width:94%; color:white;">&nbsp;<i class="fa fa-money"></i> &nbsp;Reporte de utilidad</label>
                        <a href="#" onclick="$('#dt_repo_remesa').DataTable().ajax.reload();"style="float:right; color:white;">
                            <i class="fa fa-refresh"></i>
                        </a>
                    </div>
                </div>

                    <hr>
                  <div class="row">    
                     <div id="remesa_toggle" class="collapse in col-sm-12">
                            <table style="width:100%" id="dt_repo_remesa" class="stripe">
                                <thead>
                                    <th>Remesa id</th>
                                    <th>Fecha</th>
                                    <th>Evento</th>
                                    <th>Cliente</th>
                                    <th>Usuario</th>
                                    <th>Precio</th>
                                    <th>Costo</th>
                                    <th>Utilidad</th>
                                    <th>Remesado</th>
                                    <th>Remanente</th>
                                    <th>Usuario</th>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                    </div>
                </div>
                 <hr>
                 <div class="row">
                    <div class="col-sm-2"></div>
                         <div class="col-lg-8 col-md-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-money fa-2x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge"></div>
                                            <div>Resultados totales:</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                         <table style="width:100%" id="dt_repo_total" class="stripe">
                                            <thead>
                                                <th>Precio total</th>
                                                <th>Costo total</th>
                                                <th>Utilidad total</th>
                                                <th>Remanente total</th>
                                            </thead>
                                            <tbody>
                                                
                                            </tbody>
                                        </table>     
                                    </div>
                                </a>
                            </div>
                        </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
 <!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->           
            <div class="tab-pane" id="tab3">
                <div class="row">
                <div style="clear:both;margin-top:1%;padding: 5px;background-color:#337AB7">
                        <label data-toggle="collapse" href="#cliente_toggle" style="width:94%; color:white;">&nbsp;<i class="fa fa-flag"></i> &nbsp;Reporte de clientes</label>
                        <a href="#" onclick="$('#dt_repo_clientes').DataTable().ajax.reload();"style="float:right; color:white;">
                            <i class="fa fa-refresh"></i>
                        </a>
                    </div>
                </div>
                    <hr>
                <div class="row">
                     <div id="cliente_toggle" class="collapse in col-sm-12">
                            <table style="width:100%" id="dt_repo_clientes" class="stripe">
                                <thead>
                                    <th>Tipo</th>
                                    <th>Nombre</th>
                                    <th>Ingresado por </th>
                                    <th>Primer evento</th>
                                    <th>Último evento</th>
                                    <th>Tipo</th>
                                    <th></th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    
                                </tbody>
                            </table>
                    </div>
                </div>
                <hr>
                 <div class="row">
                    <div class="col-sm-2"></div>
                         <div class="col-lg-8 col-md-6">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-3">
                                            <i class="fa fa-flag fa-2x"></i>
                                        </div>
                                        <div class="col-xs-9 text-right">
                                            <div class="huge"></div>
                                            <div>Eventos asociados:</div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#">
                                    <div class="panel-footer">
                                         <table style="width:100%" id="dt_repo_eventos" class="stripe">
                                            <thead>
                                                <th>Tipo registro</th>
                                                <th>Id registro</th>
                                                <th>Nombre del evento</th>
                                                <th>Precio</th>
                                                <th>Fecha de reserva</th>
                                            </thead>
                                            <tbody>
                                                
                                            </tbody>
                                        </table>     
                                    </div>
                                </a>
                            </div>
                        </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
<!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->            
                <div class="tab-pane" id="tab4">
                    <div class="row">
                       <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Filtrar por...</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-2">
                                            <strong>Fecha de reserva</strong>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-1">Desde: </div>
                                        <div class="col-sm-3">
                                            <input type="text" id="hor_fecha_desde">
                                        </div>
                                        <div class="col-sm-1">Hasta: </div>
                                        <div class="col-sm-3">
                                            <input type="text" id="hor_fecha_hasta">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-1"></div>
                                        <div class="col-sm-2">
                                            <strong>Seleccione un complejo</strong>
                                        </div>
                                        <div class="col-sm-3">
                                            <select class="form-control" id="hor_cmb_complejo">
                                                {{cmb_complejo|safe}}
                                            </select>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <center>
                                                <button type="button" id="filtrar_repo_hora" class="btn btn-success"><i class="fa fa-search"></i>&nbsp;&nbsp; Filtrar</button>
                                            </center>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                  <div class="row">
                            <div style="clear:both;margin-top:1%;padding: 5px;background-color:#337AB7">
                                <label data-toggle="collapse" href="#horas_toggle" style="width:94%; color:white;">&nbsp;<i class="fa fa-clock"></i> &nbsp;Horas Cancha</label>
                                <a href="#" onclick="$('#dt_repo_horas').DataTable().ajax.reload(); refrescar_global();"style="float:right; color:white;">
                                    <i class="fa fa-refresh"></i>
                                </a>
                            </div>
                    </div>
                        <hr>
                    <div class="row">
                         <div id="horas_toggle" class="collapse in col-sm-12">
                                <table style="width:100%" id="dt_repo_horas" class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <th>Cancha id</th>
                                        <th>Complejo id</th>
                                        <th>Tipo Alquiler id</th>
                                        <th>Nombre de cancha</th>
                                        <th>Tipo de alquiler</th>
                                        <th>Horas usadas</th>
                                        <th>Total horas posibles</th>
                                        <th>Total horas usadas</th>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                        </div>
                    </div>
                     <hr>
                     <div class="row">
                        <div class="col-sm-4"></div>
                             <div class="col-lg-4 col-md-4">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-tasks  fa-2x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge"></div>
                                                <div>Resultados globales:</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer">
                                             <table style="width:100%" id="dt_res_globales" class="table table-bordered table-hover table-striped">
                                                <thead>
                                                </thead>
                                                <tbody>
                                                    <tr class="success">
                                                        <td>
                                                            <strong>Horas Posibles</strong>
                                                        </td>
                                                        <td id="total_horas_posibles">
                                                            
                                                        </td>
                                                    </tr>
                                                    <tr class="success">
                                                        <td>
                                                            <strong>Horas Usadas</strong>
                                                        </td>
                                                        <td id="total_horas_usadas">
                                                            
                                                        </td>
                                                    </tr>
                                                    <tr class="warning">
                                                        <td>
                                                            <strong>Porcentaje Global de uso</strong>
                                                        </td>
                                                        <td id="porcentaje_global">
                                                            
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>     
                                        </div>
                                    </a>
                                </div>
                            </div>
                        <div class="col-sm-4"></div>
                    </div>


            </div>
<!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
        </div>  
    </div>

{% endblock %}

{% block addExtraScript %} 
<script type="text/javascript">
    $(window).load(function() {
	   //$('#rootwizard').bootstrapWizard({'tabClass': 'nav nav-pills'});
       $( "#fecha_desde" ).datepicker({
           // 'minDate': 0
          // altFormat: "dd-mm-yyyy"
        });
       $( "#fecha_hasta" ).datepicker({
            //altFormat: "dd-mm-yyyy"
        });

        $("#panel_remesa").find( "#rem_fecha_desde" ).datepicker({
           // 'minDate': 0
          // altFormat: "dd-mm-yyyy"
        });
        $("#panel_remesa").find( "#rem_fecha_hasta" ).datepicker({
            //altFormat: "dd-mm-yyyy"
        });
        $( "#hor_fecha_desde" ).datepicker({
        });
       $( "#hor_fecha_hasta" ).datepicker({
        });
       $("#hor_fecha_desde").datepicker().datepicker("setDate", new Date());
       $("#hor_fecha_hasta").datepicker().datepicker("setDate", new Date());
       //----Reporte de reserva
           var dt_repo_reserva = $('#dt_repo_reserva').DataTable( {
                "ajax": {
                    "url": "{%url 'repo_reserva' %}",
                    "type": "POST",
                    "data":  function( d ) {
                        d.csrfmiddlewaretoken = $("[name=csrfmiddlewaretoken]").val(),
                        d.fecha_desde= $("#fecha_desde").val(),
                        d.fecha_hasta=$("#fecha_hasta").val(),
                        d.complejo_id=$("#cmb_complejo").val()
                    },
                },
                "pageLength": 15,
                "ordering": false,
                "lengthChange": true,
                "searching": true,
                "paging": true,
                "columnDefs":[
                    {"targets":[0,1,2,3,4],"visible":false,"searchable":false},
                    {"targets":5, "width":"10%"},
                    {"targets":6, "width":"20%"},
                    {"targets":7, "width":"20%"},
                    {"targets":8, "width":"10%"},
                    {"targets":9, "width":"10%"},
                    {"targets":10, "width":"10%"},
                    {"targets":11, "width":"10%"},
                    {"targets":12, "width":"10%"},
                ],
                "language": {
                    "lengthMenu": "Mostrando _MENU_ filas por página",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Mostrando página 0 de 0",
                    "infoFiltered": "(filtered from _MAX_ total records)",
                    "oPaginate": {
                        "sNext":     "Siguiente",
                        "sPrevious": "Anterior"
                    },
                }
            });

           $("#filtrar_repo_reserva").on('click',function(){
                $("#dt_repo_reserva").DataTable().ajax.reload();
           });
        //--- Reporte de clientes
            var dt_repo_clientes = $('#dt_repo_clientes').DataTable( {
                "ajax": {
                    "url": "{%url 'repo_clientes' %}",
                    "type": "POST",
                    "data":  function( d ) {
                        d.csrfmiddlewaretoken = $("[name=csrfmiddlewaretoken]").val()
                    },
                },
                "pageLength": 15,
                "ordering": false,
                "lengthChange": true,
                "searching": true,
                "paging": true,
                "columnDefs":[
                    {"targets":[5,7],"visible":false,"searchable":false},
                    {"targets":0, "width":"5%"},
                    {"targets":1, "width":"25%"},
                    {"targets":2, "width":"15%"},
                    {"targets":3, "width":"25%"},
                    {"targets":4, "width":"25%"},
                    {"targets":6, "width":"5%"},
                ],
                "language": {
                    "lengthMenu": "Mostrando _MENU_ filas por página",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Mostrando página 0 de 0",
                    "infoFiltered": "(filtered from _MAX_ total records)",
                    "oPaginate": {
                        "sNext":     "Siguiente",
                        "sPrevious": "Anterior"
                    },
                }
            });

            var tipo_registro='0';
            var id_registro='0';
            $("#dt_repo_clientes").on('click','[name=ver_eventos]',function(){
                //console.log("entro");
                var row= $(this).parent().parent(); 
                if(row.hasClass("selected")){
                    row.removeClass('selected');
                    tipo_registro='0';
                    id_registro='0';
                }else{
                    $('#dt_repo_clientes').DataTable().$('tr.selected').removeClass('selected');
                    row.addClass('selected');
                    var data = $('#dt_repo_clientes').DataTable().rows('.selected').data();
                    //console.log(data[0]);
                    //console.log("Tipo ->");
                    //console.log(data[0][5]);
                    tipo_registro=data[0][5];
                    //console.log("Id->");
                    //console.log(data[0][7]); 
                    id_registro= data[0][7];
                }   
                $("#dt_repo_eventos").DataTable().ajax.reload();
                
            });

            var dt_repo_eventos = $('#dt_repo_eventos').DataTable( {
                "ajax": {
                    "url": "{%url 'repo_evento_cliente' %}",
                    "type": "POST",
                    "data":  function( d ) {
                        d.csrfmiddlewaretoken = $("[name=csrfmiddlewaretoken]").val(),
                        d.tipo_registro= tipo_registro,
                        d.id_registro= id_registro
                    },
                },
                "pageLength": 15,
                "ordering": false,
                "lengthChange": true,
                "searching": true,
                "paging": true,
                "columnDefs":[
                    {"targets":[0,1],"visible":false,"searchable":false},
                    {"targets":2, "width":"40%"},
                    {"targets":[3,4], "width":"30%"},
                ],
                "language": {
                    "lengthMenu": "Mostrando _MENU_ filas por página",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Mostrando página 0 de 0",
                    "infoFiltered": "(filtered from _MAX_ total records)",
                    "oPaginate": {
                        "sNext":     "Siguiente",
                        "sPrevious": "Anterior"
                    },
                }
            });


        // --- Repo de remesas
            var dt_repo_remesa = $('#dt_repo_remesa').DataTable( {
                "ajax": {
                    "url": "{%url 'repo_remesas' %}",
                    "type": "POST",
                    "data":  function( d ) {
                        d.csrfmiddlewaretoken = $("[name=csrfmiddlewaretoken]").val(),
                        d.fecha_desde= $("#panel_remesa").find("#rem_fecha_desde").val(),
                        d.fecha_hasta=$("#panel_remesa").find("#rem_fecha_hasta").val(),
                        d.usuario_id=$("#panel_remesa").find("#cmb_usuario").val()
                    },
                },
                "pageLength": 15,
                "ordering": false,
                "lengthChange": true,
                "searching": true,
                "paging": true,
                "columnDefs":[
                    {"targets":[0,10],"visible":false,"searchable":false},
                    {"targets":1, "width":"10%"},
                    {"targets":[2,3], "width":"15%"},
                    {"targets":[4,5,6,7,8,9], "width":"10%"},
                ],
                "language": {
                    "lengthMenu": "Mostrando _MENU_ filas por página",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Mostrando página 0 de 0",
                    "infoFiltered": "(filtered from _MAX_ total records)",
                    "oPaginate": {
                        "sNext":     "Siguiente",
                        "sPrevious": "Anterior"
                    },
                }
            });

             $("#filtrar_repo_remesa").on('click',function(){
                $("#dt_repo_remesa").DataTable().ajax.reload();
                $("#dt_repo_total").DataTable().ajax.reload();
           });

            var dt_repo_total = $('#dt_repo_total').DataTable( {
                "ajax": {
                    "url": "{%url 'repo_total' %}",
                    "type": "POST",
                    "data":  function( d ) {
                        d.csrfmiddlewaretoken = $("[name=csrfmiddlewaretoken]").val(),
                        d.fecha_desde= $("#panel_remesa").find("#rem_fecha_desde").val(),
                        d.fecha_hasta=$("#panel_remesa").find("#rem_fecha_hasta").val(),
                        d.usuario_id=$("#panel_remesa").find("#cmb_usuario").val()
                    },
                },
                "pageLength": 1,
                "ordering": false,
                "lengthChange": false,
                "searching": false,
                "paging": false,
                "columnDefs":[
                   // {"targets":[],"visible":false,"searchable":false},
                   // {"targets":1, "width":"10%"},
                    //{"targets":[2,3], "width":"15%"},
                    {"targets":[0,1,2,3], "width":"25%"},
                ],
                "language": {
                    "lengthMenu": "Mostrando _MENU_ filas por página",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Mostrando página 0 de 0",
                    "infoFiltered": "(filtered from _MAX_ total records)",
                    "oPaginate": {
                        "sNext":     "Siguiente",
                        "sPrevious": "Anterior"
                    },
                }
            });

            //---- Reporte de horas cancha
            var dt_repo_horas = $('#dt_repo_horas').DataTable( {
                "ajax": {
                    "url": "{%url 'repo_horas_cancha' %}",
                    "type": "POST",
                    "data":  function( d ) {
                        d.csrfmiddlewaretoken = $("[name=csrfmiddlewaretoken]").val(),
                        d.fecha_desde= $("#hor_fecha_desde").val(),
                        d.fecha_hasta=$("#hor_fecha_hasta").val(),
                        d.complejo_id=$("#hor_cmb_complejo").val()
                    },
                },
               // "pageLength": 100,
                "ordering": false,
                "lengthChange": false,
                "searching": false,
                "paging": false,
                "columnDefs":[
                    {"targets":[0,1,2,6,7,3],"visible":false,"searchable":false},
                    {"targets":[4], "width":"40%"},
                    {"targets":[5], "width":"20%"},
                ],
                 "drawCallback": function ( settings ) {
                    var api = this.api();
                    var rows = api.rows( {page:'current'} ).nodes();
                    var last=null;
         
                    api.column(3, {page:'current'} ).data().each( function ( group, i ) {
                        if ( last !== group ) {
                            
                            $(rows).eq( i ).before(
                                '<tr class="group success"><td colspan="5">'+group+'</td></tr>'
                            );
         
                            last = group;
                        }
                    } );
                },
                "language": {
                    "lengthMenu": "Mostrando _MENU_ filas por página",
                    "zeroRecords": "No se encontraron resultados",
                    "info": "",
                    "infoEmpty": "Mostrando página 0 de 0",
                    "infoFiltered": "(filtered from _MAX_ total records)",
                    "oPaginate": {
                        "sNext":     "Siguiente",
                        "sPrevious": "Anterior"
                    },
                }
            });

            function refrescar_global(){
                console.log("ref");
                var tam= $("#dt_repo_horas").find("tbody").find("tr").length;
                if(tam > 0){
                    console.log("entra a if");
                    $("#dt_repo_horas").find("tbody").find("tr").each(function(){
                        var data= $('#dt_repo_horas').DataTable().row($(this)).data();
                        console.log(data);
                        if(data!=undefined){
                            console.log(data);
                            jQuery.ajax({
                                url: "{%url 'calcular_horas_posibles'%}",
                                type: "POST",
                                processData: false,
                                data: "csrfmiddlewaretoken="+$("[name=csrfmiddlewaretoken]").val()+"&horas_posibles="+data[6]+"&fecha_desde="+$("#hor_fecha_desde").val()+"&fecha_hasta="+$("#hor_fecha_hasta").val(),
                                success: function(json){
                                    if(json['errors']==null){
                                        $("#total_horas_posibles").html(Number((json['resultado']).toFixed(2)));
                                        $("#total_horas_usadas").html(data[7]);
                                        var porcentaje_global= data[7]/json['resultado'];
                                        porcentaje_global=porcentaje_global*100;
                                         console.log(Number((json['resultado']).toFixed(2)));
                                        $("#porcentaje_global").html(Number((porcentaje_global).toFixed(3)) + " %");
                                    }else{
                                        $("#total_horas_posibles").html('');
                                        $("#total_horas_usadas").html('');
                                        $("#porcentaje_global").html("");
                                    }
                                }
                            });
                            return ( false );   
                        }
                    });
                }
               // console.log()
            }
            
            $("#dt_repo_horas").on('init.dt',function(){
                refrescar_global();
            });

            function limpiar_resultados(){
                $("#total_horas_posibles").html('procesando...');
                $("#total_horas_usadas").html('procesando...');
                $("#porcentaje_global").html('procesando...');
            }

            $("#filtrar_repo_hora").on('click',function(){
                if($("#hor_fecha_hasta").val()!='' && $("#hor_fecha_desde").val()!=''){
                    console.log("1");
                    limpiar_resultados();
                   $("#dt_repo_horas").DataTable().ajax.reload();
                    setTimeout(function(){ refrescar_global();  }, 1500);

                }else if($("#hor_fecha_hasta").val()=='' && $("#hor_fecha_desde").val()=='' && $("#hor_cmb_complejo").val()!=''){
                    console.log("2");
                    limpiar_resultados();
                    $("#dt_repo_horas").DataTable().ajax.reload();
                     setTimeout(function(){ refrescar_global();  }, 1500);
                }else{
                    create_alert("<li>Debe ingresar un rango de fechas válido</li>","ERROR","notificaciones",true,5000);
                }
                
            });
    });

</script>
{% endblock %}