{% extends "base.html" %}
{% load staticfiles %}
{% block title%} Reservas {% endblock %}

{% block breadcrumbs %}
    <li class="active">
	    <i class="fa fa-calendar"></i> Reservas
	</li>
{% endblock %}

{% block pagetitle %} Reservas {% endblock %} 

{% block content %}
	{% csrf_token %}
    {% load widget_tweaks %}
    <div class="row">
        <div class="col-sm-12">
           <div style="clear:both;margin-top:1%;padding: 5px;background-color:#337AB7">
                <label data-toggle="collapse" href="#eventos_toggle" style="width:94%; color:white;">&nbsp;<i class="fa fa-calendar-o"></i> &nbsp;Eventos</label>
                <a href="#" onclick="$('#dt_eventos').DataTable().ajax.reload();"style="float:right; color:white;">
                    <i class="fa fa-refresh"></i>
                </a>
            </div>
             <div id="eventos_toggle" class="collapse in col-sm-12">
                    <table id="dt_eventos" class="stripe" style="width:100%">
                        <thead>
                            <th>reserva id</th>
                            <th>Evento</th>
                            <th>Cliente</th>
                            <th>Telefono</th>
                            <th>Correo</th>
                            <th>Usuario</th>
                            <th>Acciones</th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
            </div>
        </div>
        <hr>
        <div class="col-sm-12">
            <div id="div_errores"></div>
        </div>
        <div class="col-sm-12">
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Registro de nuevos eventos</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <br>
                            <div class="col-sm-1">
                                <b>Nombre</b>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group input-group">
                                    <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                                    <input type="text" class="form-control" id="txt_nombre_evento" placeholder="Nombre del evento" />
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <strong>Cliente</strong>
                            </div>
                            <div class="col-sm-5">
                                <input type="hidden" id="id_cliente" value="-1">
                                <input type="text" class="form-control" id="txt_cliente" placeholder="Nombre del cliente" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <br>
                            <div class="col-sm-1">
                                <b>Tipo reserva</b>
                            </div>
                            <div class="col-sm-3">
                                <select id="cmb_reserva" class="form-control">
                                    <option value="-1">Seleccione tipo de reserva</option>
                                </select>
                            </div>
                            <div class="col-sm-1">
                                <strong>Forma pago</strong>
                            </div>
                            <div class="col-sm-3">
                                <select id="cmb_pago" class="form-control">
                                    <option value="-1">Seleccione forma de pago</option>
                                </select>
                            </div>
                            <div class="col-sm-1">
                                <strong>Forma facturación</strong>
                            </div>
                            <div class="col-sm-3">
                                <select id="cmb_facturacion" class="form-control">
                                    <option value="-1">Seleccione forma de facturación</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-8">
                                <br>
                                <textarea id="txt_notas" rows="2" class="form-control" placeholder="Notas"></textarea>
                            </div>
                            <div class="col-sm-1">
                                <br>
                                <strong>Estado</strong>
                            </div>
                            <div class="col-sm-3">
                                <br>
                                <select id="cmb_estado" class="form-control">
                                    <option value="-1">Seleccione el estado</option>
                                    <option value="C">Confirmado</option>
                                    <option value="T">Tentativo</option>
                                    <option value="R">Realizado</option>
                                    <option value="N">No realizado</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <br>
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">
                                <center>
                                    <button type="button" id="btn_guardar" class="btn btn-primary" style="background-color:#337AB7"><i class="fa fa-floppy-o"></i> Guardar</button>
                                    <button type="button" id="btn_guardar_cambios" style="display:none;background-color:#337AB7" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Guardar Cambios</button>
                                    <button type="button" id="btn_cancelar" style="display:none" class="btn btn-default"><i class="fa fa-times"></i> Cancelar</button>
                                </center>
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                    </div>
                </div><!--/panel-body-->
            </div><!--/panel-->
        </div><!--/div-12-->
        <div class="col-sm-12">
           <div style="clear:both;margin-top:1%;padding: 5px;background-color:#337AB7">
                <label data-toggle="collapse" href="#reservas_toggle" style="width:94%; color:white;">&nbsp;<i class="fa fa-calendar-o"></i> &nbsp;Reservas</label>
                <a href="#" onclick="$('#dt_reservas').DataTable().ajax.reload();"style="float:right; color:white;">
                    <i class="fa fa-refresh"></i>
                </a>
            </div>
             <div id="reservas_toggle" class="collapse in col-sm-12">
                    <table id="dt_reservas" class="stripe">
                        <thead>
                            <th>reserva id</th>
                            <th>complejo id</th>
                            <th>cancha id</th>
                            <th>Complejo</th>
                            <th>Cancha</th>
                            <th>Fecha</th>
                            <th>Inicio</th>
                            <th>Fin</th>
                            <th>Precio sugerido</th>
                            <th>Acciones</th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
            </div>
        </div>
        <hr>
        <div class="col-sm-12">
            <div id="div_errores_reservas"></div>
        </div>
        <div class="col-sm-12">
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Registro de nuevas reservas al evento</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <br>
                            <div class="col-sm-1">
                                <b>Complejo</b>
                            </div>
                            <div class="col-sm-4">
                                <select id="cmb_complejo" class="form-control" onchange="calcular_precio()">
                                    <option value="-1">Seleccione el complejo</option>
                                    {% for complejo in data %}
                                    <option value="{{complejo.id}}">{{complejo.nombre}}</option>
                                    {%endfor%}
                                </select>
                            </div>
                            <div class="col-sm-2"></div>
                            <div class="col-sm-1">
                                <strong>Cancha</strong>
                            </div>
                            <div class="col-sm-4">
                                <select id="cmb_cancha" class="form-control" onchange="calcular_precio()">
                                    <option value="-1">Seleccione la cancha</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <br>
                            <div class="col-sm-1">
                                <b>Fecha</b>
                            </div>
                            <div class="col-sm-2">
                                <input type="text" id="txt_fecha" class="form-control" placeholder="AAAA-MM-DD" onchange="calcular_precio()">
                            </div>
                            <div class="col-sm-1">
                                <b>Desde</b>
                            </div>
                            <div class="col-sm-2">
                                <input type="text" id="txt_hora_inicio" class="time start ui-timepicker-input form-control" placeholder="HH:MM" onchange="calcular_precio()">
                            </div>
                            <div class="col-sm-1">
                                <b>Hasta</b>
                            </div>
                            <div class="col-sm-2">
                                <input type="text" id="txt_hora_fin" class="time end ui-timepicker-input form-control" placeholder="HH:MM" onchange="calcular_precio()">
                            </div>
                            <div class="col-sm-1">
                                <b>Precio sugerido</b>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group input-group">
                                    <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                                    <input type="text" id="txt_precio_sugerido" class="form-control" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <br>
                                <textarea id="txt_notas_reserva" rows="3" class="form-control" placeholder="Notas"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <br>
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">
                                <center>
                                    <button type="button" id="btn_guardar_reserva" class="btn btn-primary" style="background-color:#337AB7"><i class="fa fa-floppy-o"></i> Guardar</button>
                                    <button type="button" id="btn_guardar_cambios_reserva" style="display:none;background-color:#337AB7" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Guardar Cambios</button>
                                    <button type="button" id="btn_cancelar_reserva" style="display:none" class="btn btn-default"><i class="fa fa-times"></i> Cancelar</button>
                                </center>
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                    </div>
                </div><!--/panel-body-->
            </div><!--/panel-->
        </div><!--/div-12-->
        <div class="col-sm-12">
            <div id="div_errores_precio"></div>
        </div>
        <div class="col-sm-12" id="div_precio_costo">
            <div class="panel panel-default">
                <div class="panel-heading">
                      <h3 class="panel-title"><i class="fa fa-usd fa-fw"></i> Registro de precio y costo del evento</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1">
                        <b>Precio</b>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                            <input type="text" id="txt_precio_evento" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <b>Costo</b>
                    </div>
                    <div class="col-sm-2">
                       <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                            <input type="text" id="txt_costo_evento" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <b>Saldo</b>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group input-group">
                            <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                            <input type="text" id="txt_saldo_evento" class="form-control" disabled>
                        </div>
                    </div>
                    <button type="button" id="btn_guardar_precio" class="btn btn-primary" style="background-color:#337AB7"><i class="fa fa-floppy-o"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>
{%include 'remesas.html'%}
{% endblock %}

{% block addExtraScript %} 
<script type="text/javascript">
    var usuario_log = "{{request.session.user_log}}";
    var tipo_usuario = "{{request.session.type_user}}";
    var evento_seleccionado = -1;
    var reserva_seleccionada = -1;
    var desactivar = false;

    $(window).load(function() {
        cargar_combos();
        $( "#txt_fecha" ).datepicker({
            'minDate': 0
        });

        $('#txt_hora_inicio').timepicker({
            'timeFormat': 'H:i',
            'forceRoundTime': true,
            'scrollDefault': '08:30'
        });

        $('#txt_hora_inicio').on('changeTime', function() {
            $('#txt_hora_fin').val($(this).val());
        });

        $('#txt_hora_fin').timepicker({
            'timeFormat': 'H:i',
            'forceRoundTime': true
        });

        $( "#txt_cliente" ).autocomplete({
            source: "{%url 'clientes_autocomplete'%}",
            minLength: 2,
            select: function ( event, ui ) {
                $('#id_cliente').val( ui.item.id );
            }
        });

        $('#cmb_complejo').on('change', function() {
            jQuery.ajax({
                url: "{%url 'cargar_canchas'%}",
                type: "POST",
                processData: false,
                data: "csrfmiddlewaretoken="+$("[name=csrfmiddlewaretoken]").val()+"&id="+$('#cmb_complejo').val(),
                success: function(json){
                    $('#cmb_cancha').html(json['str_cancha']);
                }
            });
        });

        var dt_eventos = $('#dt_eventos').DataTable( {
            "ajax": {
                "url": "{%url 'dt_eventos' %}",
                "type": "POST",
                "data":  function( d ) {
                    d.csrfmiddlewaretoken = $("[name=csrfmiddlewaretoken]").val()
                },
            },
            "pageLength": 5,
            "ordering": true,
            "lengthChange": true,
            "searching": true,
            "paging": true,
            "order":[[1,"asc"],[2,"asc"]],
            "columnDefs":[
                {"targets":[0],"visible":false,"searchable":false},
                {"targets":1, "width":"20%"},
                {"targets":2, "width":"20%"},
                {"targets":3, "width":"12.5%"},
                {"targets":4, "width":"15%"},
                {"targets":5, "width":"10%"},
                {"targets":6 ,"width": "7.5%",  "defaultContent": "<center><button name=\"edit_evento\" class=\"btn btn-xs btn-info\"><i class=\"fa fa-pencil bigger-120\"></i></button> <button type='button' name=\"registro_remesa\" class=\"btn btn-xs btn-success\"><i class=\"fa fa-credit-card bigger-120\"></i></button></center>" },
            ],
            "language": {
                "lengthMenu": "Mostrando _MENU_ filas por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Mostrando página 0 de 0",
                "infoFiltered": "(filtered from _MAX_ total records)",
                "oPaginate": {
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                },
            }
        });
        var dt_reservas = $('#dt_reservas').DataTable( {
            "ajax": {
                "url": "{%url 'dt_reservas' %}",
                "type": "POST",
                "data":  function( d ) {
                    d.csrfmiddlewaretoken = $("[name=csrfmiddlewaretoken]").val(),
                    d.evento = evento_seleccionado
                },
            },
            "pageLength": 5,
            "ordering": true,
            "lengthChange": true,
            "searching": true,
            "paging": true,
            "order":[[5,"asc"],[6,"asc"]],
            "columnDefs":[
                {"targets":[0,1,2],"visible":false,"searchable":false},
                {"targets":3, "width":"20%%"},
                {"targets":4, "width":"20%"},
                {"targets":5, "width":"15%"},
                {"targets":6, "width":"10%"},
                {"targets":7, "width":"10%"},
                {"targets":8, "width":"10%"},
                {"targets":9 ,"width": "10%",  "defaultContent": "<center><button name=\"edit_reserva\" class=\"btn btn-xs btn-info\"><i class=\"fa fa-pencil bigger-120\"></i></button> </center>" },
            ],
            "language": {
                "lengthMenu": "Mostrando _MENU_ filas por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Mostrando página 0 de 0",
                "infoFiltered": "(filtered from _MAX_ total records)",
                "oPaginate": {
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                },
            }
        });

        function cargar_combos(){
            jQuery.ajax({
                url: "{%url 'cargar_combos'%}",
                type: "POST",
                processData: false,
                data: "csrfmiddlewaretoken="+$("[name=csrfmiddlewaretoken]").val(),
                success: function(json){
                    $("#cmb_facturacion").append(json['forma_facturacion']);
                    $("#cmb_pago").append(json['forma_pago']);
                    $("#cmb_reserva").append(json['tipo_alquiler']);
                }
            });
        }

        $(document).on('click', "[name=edit_evento]",function(){
            $('#dt_eventos').DataTable().$('tr.selected').removeClass('selected');
            $(this).parent().parent().parent().addClass('selected');
            var data = $('#dt_eventos').DataTable().rows('.selected').data();
            $("#btn_cancelar").click();
            $(this).parent().parent().parent().addClass('selected');
            jQuery.ajax({
                url: "{%url 'info_evento'%}",
                type: "POST",
                processData: false,
                data: "csrfmiddlewaretoken="+$("[name=csrfmiddlewaretoken]").val()+"&id_evento="+data[0][0],
                success: function(json){
                    $('#txt_nombre_evento').val(json['nombre']);
                    $('#txt_cliente').val(json['cliente']);
                    $('#id_cliente').val( json['cliente_id']);
                    $('#cmb_reserva').val(json['alquiler']);
                    $('#cmb_pago').val(json['pago']);
                    $('#cmb_facturacion').val(json['facturacion']);
                    $('#cmb_estado').val(json['estado']);
                    $('#txt_notas').val(json['notas']);
                    if(json['precio']!="None"){
                        $('#txt_precio_evento').val(json['precio']);
                    }else{
                        $('#txt_precio_evento').val("");
                    }
                    if(json['costo']!="None"){
                        $('#txt_costo_evento').val(json['costo']);
                    }else{
                        $('#txt_costo_evento').val("");
                    }if(json['saldo']!="None"){
                        $('#txt_saldo_evento').val(json['saldo']);
                    }else{
                        $('#txt_saldo_evento').val("");
                    }
                    evento_seleccionado = data[0][0];
                    $("#dt_reservas").DataTable().ajax.reload();

                    if(data[0][5] != usuario_log && tipo_usuario != "R"){ //SOLO PUEDE VISUALIZAR MÁS NO MODIFICAR
                        //$(document).find("[id^='txt_']").prop('disabled', true);
                        //$(document).find("[id^='cmb_']").prop('disabled', true);
                        $("#btn_cancelar").show();
                        $("#btn_cancelar_reserva").show();
                        $("#btn_guardar").hide();
                        $("#btn_guardar_cambios").hide();
                        $("#btn_guardar_reserva").hide();
                        $("#btn_guardar_precio").hide();
                    }else if(data[0][5] == usuario_log || tipo_usuario == "R"){ // ES SU EVENTO Y PUEDE MODIFICAR
                        $("#btn_cancelar").show();
                        if(!json['desactivar']){ // NO HAN PASADO TODAS LAS FECHAS - NO DESACTIVAR
                            $("#btn_guardar_cambios").show();
                            $("#btn_guardar_reserva").show();
                            $('#txt_precio_evento').prop('disabled',false);
                            desactivar = json['desactivar'];
                        }else{ // YA PASARON TODAS LAS FECHAS - DESACTIVAR
                            $("#btn_guardar_reserva").hide();
                            $('#txt_precio_evento').prop('disabled',true);
                            desactivar = json['desactivar'];
                        }
                        $("#btn_guardar").hide();
                        $("#btn_guardar_precio").show();
                    }
                }
            });
        });

        $("#btn_cancelar").on('click',function(){
            $('#dt_eventos').DataTable().$('tr.selected').removeClass('selected');
            $(document).find("[id^='txt_']").val('');
            $(document).find("[id^='cmb_']").val('-1');
            /*$(document).find("[id^='txt_']").prop('disabled', false);
            $(document).find("[id^='cmb_']").prop('disabled', false);*/
            $('#id_cliente').val('-1');
            $("#btn_guardar_cambios").hide();
            $("#btn_cancelar").hide();
            $("#btn_guardar").show();
            $("#btn_guardar_reserva").show();
            $("#btn_guardar_cambios_reserva").hide();
            $("#btn_cancelar_reserva").hide();
            $("#btn_guardar_precio").show();
            $('#txt_precio_evento').prop('disabled',false);
            evento_seleccionado = -1;
            reserva_seleccionada = -1;
            /*$("#txt_precio_sugerido").prop('disabled', true);
            $("#txt_saldo_evento").prop('disabled', true);*/
            dt_reservas.ajax.reload();
        });

        $("#btn_guardar_precio").on('click',function(){
            if(evento_seleccionado!=-1){
                jQuery.ajax({
                    url: "{%url 'guardar_precio_evento'%}",
                    type: "POST",
                    processData: false,
                    data: "csrfmiddlewaretoken="+$("[name=csrfmiddlewaretoken]").val()+"&precio_evento="+$('#txt_precio_evento').val()+"&costo_evento="+$('#txt_costo_evento').val()+"&id_evento="+evento_seleccionado,
                    success: function(json){
                        create_alert("<li>Precio y costo ingresado exitosamente</li>","EXITO","notificaciones",true,5000);
                    },
                    error:function(json){
                        create_alert("<li><b>Datos incorrectos: </b>Precio o costo no válidos</li>","ERROR","div_errores_precio",false,0);
                    }
                });
            }else{
                create_alert("<li>Seleccione un evento para ingresar su precio y costo</li>","ERROR","div_errores_precio",false,0);
            }
        });

        $("#btn_guardar").on('click',function(){
            if($('#cmb_estado').val()=="-1" || $('#cmb_reserva').val()=="-1" || $('#cmb_pago').val()=="-1" || $('#cmb_estado').val()=="-1" || $('#txt_nombre_evento').val()==""){
                create_alert("<li><b>Campos requeridos:</b> nombre evento, tipo reserva, forma pago, forma facturación y estado son campos requeridos.</li>","ERROR","div_errores",false,0);
            }else{
                jQuery.ajax({
                    url: "{%url 'guardar_evento'%}",
                    type: "POST",
                    processData: false,
                    data: "csrfmiddlewaretoken="+$("[name=csrfmiddlewaretoken]").val()+"&nombre="+$('#txt_nombre_evento').val()+"&cliente_id="+$('#id_cliente').val()+"&nombre_cliente="+$('#txt_cliente').val()+"&reserva="+$('#cmb_reserva').val()+"&pago="+$('#cmb_pago').val()+"&facturacion="+$('#cmb_facturacion').val()+"&estado="+$('#cmb_estado').val()+"&notas="+$('#txt_notas').val(),
                    success: function(json){
                        if(json['error']==true){
                            create_alert(json['mensaje'],"ERROR","div_errores",false,0);
                        }else{
                            create_alert(json['mensaje'],"EXITO","notificaciones",true,5000);
                            $("#div_errores").html('');
                            $("#dt_eventos").DataTable().ajax.reload();
                            $("#btn_guardar_cambios").show();
                            $("#btn_cancelar").show();
                            $("#btn_guardar").hide();
                            evento_seleccionado = json['id_evento'];
                        }
                    }
                });
            }
        });

        $("#btn_guardar_cambios").on('click',function(){
            if($('#cmb_estado').val()=="-1" || $('#cmb_reserva').val()=="-1" || $('#cmb_pago').val()=="-1" || $('#cmb_estado').val()=="-1" || $('#txt_nombre_evento').val()==""){
                create_alert("<li><b>Campos requeridos:</b> nombre evento, tipo reserva, forma pago, forma facturación y estado son campos requeridos.</li>","ERROR","div_errores",false,0);
            }else{
                jQuery.ajax({
                    url: "{%url 'guardar_cambios_evento'%}",
                    type: "POST",
                    processData: false,
                    data: "csrfmiddlewaretoken="+$("[name=csrfmiddlewaretoken]").val()+"&nombre="+$('#txt_nombre_evento').val()+"&cliente_id="+$('#id_cliente').val()+"&nombre_cliente="+$('#txt_cliente').val()+"&reserva="+$('#cmb_reserva').val()+"&pago="+$('#cmb_pago').val()+"&facturacion="+$('#cmb_facturacion').val()+"&estado="+$('#cmb_estado').val()+"&notas="+$('#txt_notas').val()+"&id_evento="+evento_seleccionado,
                    success: function(json){
                        if(json['error']==true){
                            create_alert(json['mensaje'],"ERROR","div_errores",false,0);
                        }else{
                            create_alert(json['mensaje'],"EXITO","notificaciones",true,5000);
                            $("#div_errores").html('');
                            $("#dt_eventos").DataTable().ajax.reload();
                            $("#btn_cancelar").click();
                            /*$("#btn_guardar_cambios").show();
                            $("#btn_cancelar").show();
                            $("#btn_guardar").hide();*/
                        }
                    }
                });
            }
        });

        $("#btn_guardar_reserva").on('click',function(){
            if(evento_seleccionado==-1){
                create_alert("<li>Seleccione un evento para ingresar reservas</li>","ERROR","div_errores_reservas",false,0);
            }else if(!($('#cmb_complejo').val()=="-1" || $('#cmb_cancha').val()=="-1" || $("#txt_fecha").val()=="" || $('#txt_hora_inicio').val()=="" || $('#txt_hora_fin').val()=="")){
                jQuery.ajax({
                    url: "{%url 'guardar_reserva'%}",
                    type: "POST",
                    processData: false,
                    data: "csrfmiddlewaretoken="+$("[name=csrfmiddlewaretoken]").val()+"&cancha="+$('#cmb_cancha').val()+"&fecha="+$('#txt_fecha').val()+"&inicio="+$('#txt_hora_inicio').val()+"&fin="+$('#txt_hora_fin').val()+"&notas="+$('#txt_notas_reserva').val()+"&precio_sugerido="+$('#txt_precio_sugerido').val()+"&evento="+evento_seleccionado,
                    success: function(json){
                        if(json['error']==true){
                            create_alert(json['mensaje'],"ERROR","div_errores_reservas",false,0);
                        }else{
                            create_alert(json['mensaje'],"EXITO","notificaciones",true,5000);
                            $("#div_errores").html('');
                            $("#dt_reservas").DataTable().ajax.reload();
                            $('#cmb_complejo').val("-1");
                            $('#cmb_cancha').val("-1");
                            $('#txt_fecha').val("");
                            $('#txt_hora_inicio').val("");
                            $('#txt_hora_fin').val("");
                            $('#txt_notas_reserva').val("");
                            $('#txt_precio_sugerido').val("");
                        }
                    },
                    error:function(json){
                        create_alert("<li><b>Datos incorrectos: </b>Fecha u horas no válidas</li>","ERROR","div_errores_reservas",false,0);
                    }
                });
            }else{
               create_alert("<li><b>Campos requeridos:</b> complejo, cancha, fecha, hora inicio y hora fin son campos requeridos.</li>","ERROR","div_errores_reservas",false,0);
            }
        });

        $(document).on('click', "[name=edit_reserva]",function(){
            var data_evento = $('#dt_eventos').DataTable().rows('.selected').data();
            $('#dt_reservas').DataTable().$('tr.selected').removeClass('selected');
            $(this).parent().parent().parent().addClass('selected');
            var data = $('#dt_reservas').DataTable().rows('.selected').data();
            reserva_seleccionada = data[0][0];
            var cancha = "-1";
            jQuery.ajax({
                url: "{%url 'edit_reserva'%}",
                type: "POST",
                processData: false,
                data: "csrfmiddlewaretoken="+$("[name=csrfmiddlewaretoken]").val()+"&id_reserva="+data[0][0],
                success: function(json){
                    $('#cmb_complejo').val(json['complejo']);
                    $('#txt_fecha').val( json['fecha']);
                    $('#txt_hora_inicio').val(json['inicio']);
                    $('#txt_hora_fin').val(json['fin']);
                    $('#txt_precio_sugerido').val(json['precio_sugerido']);
                    $('#txt_notas_reserva').val(json['notas']);
                    $("#btn_cancelar_reserva").show();
                    $("#btn_guardar_reserva").hide();
                    if(data_evento[0][5] == usuario_log || tipo_usuario == "R"){
                        $("#btn_guardar_cambios_reserva").show();
                    }
                    cancha = json['cancha'];
                    jQuery.ajax({
                        url: "{%url 'cargar_canchas'%}",
                        type: "POST",
                        processData: false,
                        data: "csrfmiddlewaretoken="+$("[name=csrfmiddlewaretoken]").val()+"&id="+$('#cmb_complejo').val(),
                        success: function(json){
                            $('#cmb_cancha').html(json['str_cancha']);
                            $('#cmb_cancha').val(cancha);
                        }
                    });
                    if(validarFechaMenorActual(json['fecha'])){
                       $("#btn_guardar_cambios_reserva").hide();
                    }
                }
            });
        });

        $("#btn_guardar_cambios_reserva").on('click',function(){
            if(!($('#cmb_complejo').val()=="-1" || $('#cmb_cancha').val()=="-1" || $("#txt_fecha").val()=="" || $('#txt_hora_inicio').val()=="" || $('#txt_hora_fin').val()=="")){
                jQuery.ajax({
                    url: "{%url 'guardar_cambios_reserva'%}",
                    type: "POST",
                    processData: false,
                    data: "csrfmiddlewaretoken="+$("[name=csrfmiddlewaretoken]").val()+"&cancha="+$('#cmb_cancha').val()+"&fecha="+$('#txt_fecha').val()+"&inicio="+$('#txt_hora_inicio').val()+"&fin="+$('#txt_hora_fin').val()+"&notas="+$('#txt_notas_reserva').val()+"&precio_sugerido="+$('#txt_precio_sugerido').val()+"&reserva="+reserva_seleccionada,
                    success: function(json){
                        if(json['error']==true){
                            create_alert(json['mensaje'],"ERROR","div_errores_reservas",false,0);
                        }else{
                            create_alert(json['mensaje'],"EXITO","notificaciones",true,5000);
                            $("#div_errores").html('');
                            $("#btn_cancelar_reserva").click();
                        }
                    },
                    error:function(json){
                        create_alert("<li><b>Datos incorrectos: </b>Fecha u horas no válidas</li>","ERROR","div_errores_reservas",false,0);
                    }
                });
            }else{
               create_alert("<li><b>Campos requeridos:</b> complejo, cancha, fecha, hora inicio y hora fin son campos requeridos.</li>","ERROR","div_errores_reservas",false,0);
            }
        });

        $("#btn_cancelar_reserva").on('click',function(){
            $("#dt_reservas").DataTable().ajax.reload();
            $('#cmb_complejo').val("-1");
            $('#cmb_complejo').change();
            $('#txt_fecha').val("");
            $('#txt_hora_inicio').val("");
            $('#txt_hora_fin').val("");
            $('#txt_precio_sugerido').val("");
            $('#txt_notas_reserva').val("");
            $("#btn_guardar_cambios_reserva").hide();
            $("#btn_cancelar_reserva").hide();
            var data = $('#dt_eventos').DataTable().rows('.selected').data();
            if(data[0][5] == usuario_log || tipo_usuario == "R"){
                if(!desactivar){
                    $("#btn_guardar_reserva").show();
                }
            }
            reserva_seleccionada = -1;
        });

        $(document).on('click', "[name=registro_remesa]",function(){
            $('#dt_eventos').DataTable().$('tr.selected').removeClass('selected');
            $(this).parent().parent().parent().addClass('selected');
            var data = $('#dt_eventos').DataTable().rows('.selected').data();
            evento_seleccionado = data[0][0];
            if(data[0][5] != usuario_log && tipo_usuario != "R"){
                $("#btn_guardar_remesa").hide();
            }else{
                $("#btn_guardar_remesa").show();
            }
            $("#dt_remesas").DataTable().ajax.reload();
            $("#modal_remesa").modal('show');
        });
        
        $("#modal_remesa").on('hide.bs.modal', function (e) {
            //$('#dt_eventos').DataTable().$('tr.selected').removeClass('selected');
            //evento_seleccionado = -1;
            $("#btn_cancelar").click();
            $("#btn_cancelar_remesa").hide();
            $("#btn_guardar_cambios_remesa").hide();
        });
    });

    function calcular_precio(){
        if(!($('#cmb_complejo').val()=="-1" || $('#cmb_cancha').val()=="-1" || $("#txt_fecha").val()=="" || $('#txt_hora_inicio').val()=="" || $('#txt_hora_fin').val()=="")){
            jQuery.ajax({
                url: "{%url 'calcular_precio'%}",
                type: "POST",
                processData: false,
                data: "csrfmiddlewaretoken="+$("[name=csrfmiddlewaretoken]").val()+"&cancha="+$('#cmb_cancha').val()+"&fecha="+$('#txt_fecha').val()+"&inicio="+$('#txt_hora_inicio').val()+"&fin="+$('#txt_hora_fin').val(),
                success: function(json){
                    $('#txt_precio_sugerido').val(json['precio_sugerido']);
                },
                error:function(json){
                    create_alert("<li><b>Datos incorrectos: </b>Fecha u horas no válidas</li>","ERROR","div_errores_reservas",false,0);
                }
            });
        }
    }

    function validarFechaMenorActual(date){
      var x=new Date();
      var fecha = date.split("-");
      x.setFullYear(fecha[0],fecha[1]-1,fecha[2]);
      var today = new Date();
      if (x >= today)
        return false;
      else
        return true;
    }
</script>
{% endblock %}